---
layout: main
author: Ahmad Moussa
description: Welcome to The Archive. Here you can find a list of every single post I have ever written.
meta: A blog to nerd out about computers and music
---

<section>
<header class="major">
	<h2>The Archive</h2>
</header>
	
<div>

	
{% assign postsByDay = 
site.posts | group_by_exp:"post", "post.date | date: '%A, %B %e, %Y'" %}

{% for day in postsByDay %}
  <h1>{{ day.name }}</h1>
    <ul>
      {% for post in day.items %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
{% endfor %}

</div>
</section>
