---
layout: main
author: Ahmad Moussa
description: Welcome to The Archive. Here you can find a list of every single post I have ever written.
meta: A blog to nerd out about computers and music
---

<section>
<header class="major">
	<h2>The Archive</h2>
</header>
<div >

	
{% for post in site.posts %}

    {% capture day %}{{ post.date | date: '%m%d%Y' }}{% endcapture %}
    {% capture nday %}{{ post.next.date | date: '%m%d%Y' }}{% endcapture %}

    {% if day != nday %}
        <h5 class="date">{{ post.date | date: "%A, %B %e, %Y" }}</h5>
    {% endif %}
    {{ post.content }}
    <hr>

{% endfor %}

</div>
</section>
