---
layout: main
author: Ahmad Moussa
description: Welcome to The Archive. Here you can find a list of every single post I have ever written.
meta: A blog to nerd out about computers, creative coding and music
permalink: /posts/
---

<section>
<header class="major">
	<!-- <h2>The Archive</h2> -->

</header>
	<!--
<h4>Hi, scroll down to a list of every single post I have ever written:</h4>
	<p></p>
-->
	
<!--
<div id='articles' class="posts">
{% for post in site.posts %}

	<article>
	<a href="https://gorillasun.de{{ post.url }}"><div class='image fit'><img src="https://gorillasun.de/assets/images/thumbnails/{{post.thumbnail_path}}" alt="" /></div></a>
            <a href="https://gorillasun.de{{ post.url }}"><h3 >{{post.title}}</h3><h4>Upload date: {{ post.date | date: "%b %-d, %Y" }}</h4></a>
            <p>{{post.description}}</p>
            <ul class="actions">
              <li><a href="https://gorillasun.de{{ post.url }}" class="button">Jump to blog post</a></li>
            </ul>
          </article>
{% endfor %}

</div>

-->

	<!--
<div class="row gtr-200">
{% for post in site.posts %}
	<div class="col-4 col-12-medium">
        	<span class="image fit"><img src="{{post.thumbnail_path}}" alt="" /></span>
		<a href="https://gorillasun.de{{ post.url }}"><h3 >{{post.title}}</h3><h4>Upload date: {{ post.date | date: "%b %-d, %Y" }}</h4></a>
        </div>
	{% continue %}
	<div class="col-4 col-12-medium">
        	<span class="image fit"><img src="{{post.thumbnail_path}}" alt="" /></span>
		<a href="https://gorillasun.de{{ post.url }}"><h3 >{{post.title}}</h3><h4>Upload date: {{ post.date | date: "%b %-d, %Y" }}</h4></a>
      	</div>
	{% continue %}
	<div class="col-4 col-12-medium">
        	<span class="image fit"><img src="{{post.thumbnail_path}}" alt="" /></span>
		<a href="https://gorillasun.de{{ post.url }}"><h3 >{{post.title}}</h3><h4>Upload date: {{ post.date | date: "%b %-d, %Y" }}</h4></a>
      	</div>
{% endfor %}
</div>
-->	
	
<!--
<div class="row gtr-200">

	<div class="col-4 col-12-medium">
		{% for post in site.posts %}
		{% assign remainder = forloop.index | modulo: 3 %}
		{% if remainder == 1 %}
		
		<div class='box'>
			<a href="https://gorillasun.de{{ post.url }}">
				<h4>{{post.title}} - {{ post.date | date_to_long_string  }}</h4>
        			<span class="image fit" ><img src="{{post.thumbnail_path}}" alt="" /></span>
			</a>
		</div>
		
		{% endif %}
		{% endfor %}
        </div>
	<div class="col-4 col-12-medium">
		{% for post in site.posts %}
		{% assign remainder = forloop.index | modulo: 3 %}
		{% if remainder == 2 %}
		<div class='box'>
			<a href="https://gorillasun.de{{ post.url }}">
				<h4>{{post.title}} - {{ post.date | date_to_long_string  }}</h4>
        			<span class="image fit" ><img src="{{post.thumbnail_path}}" alt="" /></span>
			</a>
		</div>
		{% endif %}
		{% endfor %}
        </div>
	<div class="col-4 col-12-medium">
		{% for post in site.posts %}
		{% assign remainder = forloop.index | modulo: 3 %}
		{% if remainder == 0 %}
		<div class='box'>
			<a href="https://gorillasun.de{{ post.url }}">
				<h4>{{post.title}} - {{ post.date | date_to_long_string  }}</h4>
        			<span class="image fit" ><img src="{{post.thumbnail_path}}" alt="" /></span>
			</a>
		</div>
		{% endif %}
		{% endfor %}
        </div>
</div>
-->

<div class="row gtr-200">
{% assign postsByMonth = site.posts | group_by_exp:"post", "post.date | date: '%B %Y'" %}	
	
{% for month in postsByMonth limit:2 %}
<h2>{{ month.name }}</h2>

{% for post in month.items %}
	<div class="col-6 col-12-medium">
			<span class="image left" style="margin: 0 0 0 0;"><img src="{{post.thumbnail_path}}" alt="" /></span>

			<a href="https://gorillasun.de{{ post.url }}">
				<h4 style="margin: 0.5em 0 0 0;">{{post.title}}</h4>
			</a>
			<strong>{{ post.date | date: "%m/%d/%Y" }}</strong>
			<br/>
			{{ post.description }}
	</div>
	
	{% continue %}
	
	<div class="col-6 col-12-medium">
		
				<span class="image left" style="margin: 0 0 0 0;"><img src="{{post.thumbnail_path}}" alt="" /></span>
				
				<div class="col-6 col-12-small">
					<a href="https://gorillasun.de{{ post.url }}">
						<h4 style="margin: 0.5em 0 0 0;">{{post.title}}</h4>
					</a>
					<strong>{{ post.date | date: "%m/%d/%Y" }}</strong>
					<br/>
					{{ post.description }}
				
	</div>
{% endfor %}
{% endfor %}
</div>

</section>
