---
layout: main
author: Ahmad Moussa
description: Welcome to the Gallery, on this page I share my favorite shots
meta: A blog to nerd out about computers and music
---

<!-- Banner -->
<section>
	<div>
		<header class='major'>
			<h2>The Gallery</h2>
		</header>
		<h3>
		I also sometimes take pictures of things, mostly clouds and animals. If you'd like to use one or many of my photos shoot me a message!
		</h3>
	</div>
	
	<div>
	{% for image in site.static_files %}
   		{% if image.path contains 'images/gallery' %}
        		<span class='image fit'><img src="{{ site.url }}{{ image.path }}" alt="image" /></span>
    		{% endif %}
	{% endfor %}
	</div>
</section>
