---
layout: main
author: Ahmad Moussa
description: Welcome to the wonderful world of Gorilla Sun, a website aimed at discussing everything related to creative music making, creative coding and the intersection between the two!
meta: A blog to nerd out about computers and music
permalink: 
---

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h1>Hi, I'm Gorilla Sun</h1>
			<p>and this is the <strong>gorilla sun</strong> blog</p>
		</header>
		<p>
		A blog about creative coding, music making and everything to keep you out of that creative rut! Scroll down to check out some recent blog posts!
		</p>

	</div>
	 <span class="image object">
		<video autoplay="" loop="" muted="" playsinline="" style="width:100%; border-radius: 0.375em; " draggable="true">
			<source src="https://gorillasun.de/assets/images/thumbnails/centripedebanner.mp4" type="video/mp4">
		</video>	
		
<!--
<iframe style="width: 100%; height: 100%; overflow: auto;"  scrolling="no" frameborder="0" src="https://editor.p5js.org/AhmadMoussa/embed/B03YdYwCa"></iframe>
-->
	</span>
</section>


	<!--
	<div id='articles' class="posts">
{% for post in site.posts limit:2 %}

	<article>
		<a href="https://gorillasun.de{{ post.url }}" class="image"><img src="https://gorillasun.de/thumbnails/{{ post.thumbnail_path }}" alt="" /></a>
		<a href="https://gorillasun.de{{ post.url }}"><h3 >{{post.title}}</h3><h4>Upload date: {{ post.date | date: "%b %-d, %Y" }}</h4></a>
		<p>{{post.description}}</p>
		<ul class="actions">
			<li><a href="https://gorillasun.de{{ post.url }}" class="button">Jump to blog post</a></li>
		</ul>
	</article>
{% endfor %}

</div>
	-->
<section>
	<div class="row gtr-200">
		<div class="col-5 col-12-medium">
			<span class="image fit" style="margin: 0 0 0 0;">
				<video autoplay="" loop="" muted="" playsinline="" style="width:100%; border-radius: 0.375em; " draggable="true">
					<source src="https://gorillasun.de/assets/images/thumbnails/gatewaybanner.mp4" type="video/mp4">
				</video>	
			</span>
		</div>

		<div class="col-7 col-12-medium">
			<a href="https://gorillasun.de/blog/Making-of-Gateway">
				<h2 style="margin: 0.5em 0 0 0;">Featured Article&#58; Making of Gateway</h2>
			</a>
			<h3><strong>25/08/2021</strong></h3>
			<br/>
		</div>
	</div>
</section>

<section>
	<div class="row gtr-200">
			<div class="col-6 col-12-medium">
				<h2> Recent Blog Posts </h2>
	
				{% assign postsByMonth =
				site.posts | group_by_exp:"post", "post.date | date: '%B %Y'" %}

				{% for month in postsByMonth limit:2 %}
				  <h3>{{ month.name }}</h3>
				    <ul style="list-style-type:none;">
				      {% for post in month.items %}
					 <li>{{ post.date | date: "%d " }}:  <a href="https://gorillasun.de{{ post.url }}">{{post.title}}</a></li>
				      {% endfor %}
				    </ul>
				{% endfor %}
			</div>
			<div class="col-6 col-12-medium">
				<div class='box'>
				<h3>What are my blog posts about?</h3>
				<p>I mainly discuss popular (sometimes obscure) creative coding techniques and break them up into digestible step-by-step tutorials! I also talk about NFTs, music and other cool stuff I find on the internet!</p>
				<!--
				<h4>Update: 05/25/2021</h4>
				<p>Recently I have also ventured into the interesting world of decentralized blockchain technology, and have been experimenting with minting interactive p5js sketches on hicetnunc.xyz. Hence some more recent articles on that!</p>
				-->
				<h4>For a complete list of blog posts I've written, you can visit the post tab:</h4>
				<ul class="actions">
					<li><a href="https://gorillasun.de/posts/" class="button">Click here to unlock infinite wisdom</a></li>
				</ul>
				</div>
			</div>
		</div>

</section>

<!--
<section>

		<div class="row gtr-200">
			<div class="col-6 col-12-medium">
				<h1 >Discography</h1>
				<p></p>
				<iframe src="https://open.spotify.com/embed/artist/7HnPKqvpn1g0CCJnAVOufm" width="100%" height="355" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
				&nbsp;
			</div>

			<div class="col-6 col-12-medium">

				<div class='box'>
				<h3>Short Instrumentals</h3>
				<p>
					I create short guitar instrumentals as well as upbeat electronic music.

					<strong>My music can be found on most major <a href='https://open.spotify.com/artist/7HnPKqvpn1g0CCJnAVOufm?si=COb6lE6pQL2uvoDRc1OPMg'> streaming services </a> as well as <a href='https://gorillasun1.bandcamp.com/'>bandcamp</a>.</strong></p>

					<p>Everything I make off of streaming services gets invested back into my music making ~ a whopping 0.75$. </p>

						<p><strong>Everything I make off of bandcamp is donated to Lebanese charities and/or NGOs</strong> once it ammounts to a considerable sum ~ so far an outstanding 25$. Hopefully one day I can do what I love and help others at the same time!</p>

			</div>
			</div>
		</div>
</section>

<section>
<div class="row gtr-200">
	<div class="col-6 col-12-medium">
		<h1>Machine Learning Blog</h1>
<p><strong>Soft Launch</strong>:
I'm happy to announce that my co-conspirator Wiem and I have finally launched our side project <a href='https://back2theprop.com'>Back to the Prop</a>.
</p>
<p>
A site dedicated to explaining concepts in Machine Learning, Deep Learning and AI in general, in a simple and understandable manner to the layman. I recommend you scroll through the preview attached here, and see if there's articles that might interest you! We consider it a soft launch, since a bunch of things still need to be put into order before we can dedicate more time to it.
</p>
</div>
<div class="col-6 col-12-medium">
<span class="image fit"><img src="/assets/images/index/banner.gif" alt="" /></span>
</div>
</div>
</section>

<section>
<h1>Research</h1>
<div class="row gtr-200">
	<div class="col-6 col-12-medium">
		<div class='box'>
		<h3>Publications</h3>
		<p>
		</p>

			<ul>
				<li><p><a href='https://www.researchgate.net/publication/340694067_Audio_Translation_with_Conditional_Generative_Adversarial_Networks'>Audio Translation with Conditional Generative Adversarial Networks ICAIIC 2020 - IEEE</a></p></li>
				<li><p><a href='https://www.researchgate.net/publication/350579749_Generation_and_Extraction_of_Color_Palettes_with_Adversarial_Variational_Auto_Encoders'>Generation and Extraction of Color Palettes with Adversarial Variational Autoencoders ICICT 2021 - Springer</a></p></li>
				<li><p><a href='https://www.researchgate.net/publication/350579846_Drum_Sample_Synthesis_with_Variational_Autoencoders'>Master Thesis - Drum Sample Synthesis with Variational Autoencoders</a></p></li>
				</ul>
			</div>
		</div>
		<div class="col-6 col-12-medium">

				<p>
				If you've somehow found me for my research, it's probably best to <strong>connect with me on <a href='https://www.researchgate.net/profile/Ahmad-Moussa-4'>ResearchGate</a></strong>. The code for my publications can be found on my <a href='https://github.com/AhmadMoussa'>Github</a>.
				</p>
				<p>
					My research interests revolve around applications of Deep Learning for the synthesis of Sounds and Images, audio and image processing in general, and other creative and useful applications. </p>
					<p>The research project that I'm most proud of has to be my GAN for the synthesis of color palettes, as it took me more than a year of obsessive learning and coding until I was able to put it together. I will hopefully tackle some improvements in the next couple of months.
				</p>

	</div>


</section>
-->
<section>
	<div class="row gtr-200">
			<div class="col-6 col-12-medium">
	<h2 id="elements">News and Updates</h2>
	<!--
		<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
			<style type="text/css">
				#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
				/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
				   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			</style>
	-->
			<div id="mc_embed_signup">
				<form method="post" action="https://gorillasun.us1.list-manage.com/subscribe/post?u=2ec45cad93e090c190c03f02d&amp;id=f34e6ff990"
				      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				
						<!--
						<div class="col-6 col-12-xsmall">
							<input type="text" name="FNAME" id="mce-FNAME" value="" placeholder="First Name" />
						</div>
						<div class="col-6 col-12-xsmall">
							<input type="text" name="LNAME" id="mce-LNAME" value="" placeholder="Last Name" />
						</div>
						-->
						
							<input type="email" name="EMAIL" id="mce-EMAIL" value="" placeholder="Email" required>
					
						<!--
						<div class="col-6 col-12-small">
							<input type="checkbox" id="demo-human" name="demo-human" required>
							<label for="demo-human">I am a human</label>
						</div>

						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>
						-->
						<!-- Break -->
					
							<ul class="actions fit">
								<li><input input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="primary" /></li>
							</ul>
					
				</form>
			</div>
			<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

</div>
		<div class="col-6 col-12-medium">
	<p>If you enjoy the the content on this website, consider subscribing to my mailing list to receive the occasional update and/or whenever a new blog post is up. No spam, promise.</p>
	<p><strong>Otherwise another great way to stay up to date with my stuff would be by following me on <a href='https://twitter.com/gorillasu'>Twitter</a>.</strong></p>
</div>
			</section>

<section>
	<h2>Contact</h2>
	The easiest way to get in touch with me is by DM-ing me on <a href='https://twitter.com/gorillasu'>Twitter</a> or any other of my social media accounts. For more formal inquiries, shoot an email to gorillasuncontact@gmail.com , I will be happy to reply asap! :)
</section>
